.tm-burger {
  cursor: pointer;
  height: 21px;
  width: 21px;
  display: grid;
  align-items: center;
  overflow: hidden;
}

.tm-burger-lines {
  display: flex;
  height: 3px;
  border-radius: 5px;
  position: relative;
  transition: 0.5s all;
  background: transparent;
}

.tm-burger .tm-burger-lines:nth-child(1) {
  background: linear-gradient(to left, transparent 30%, white 75%);
}
.tm-burger.active .tm-burger-lines:nth-child(1) {
  transform-origin: right;
  transform: rotate(-45deg);
  background: linear-gradient(to left, transparent 0%, white 75%);
}

.tm-burger .tm-burger-lines:nth-child(2) {
  background: white;
}
.tm-burger.active .tm-burger-lines:nth-child(2) {
  transform: translateX(25px);
}

.tm-burger .tm-burger-lines:nth-child(3) {
  background: linear-gradient(to right, transparent 30%, white 75%);
}
.tm-burger.active .tm-burger-lines:nth-child(3) {
  transform-origin: right;
  transform: rotate(45deg);
  background: linear-gradient(to left, transparent 0%, white 75%);
}
