@import "./assets/styles/utility.css";
@import "./assets/styles/themes/dark.scss";
@import "./assets/styles/themes/light.scss";
@import "./assets/styles/themes/darkpurple.scss";
@import "./assets/styles/themes/lightpurple.scss";

* {
  font-family: "Montserrat", sans-serif;
}

#root {
  height: 100vh;
  overflow: hidden;
}
