@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  @apply bg-gray-500;
}

*::-webkit-scrollbar-thumb:hover {
  background: hsl(217, 19%, 40%);
}

html {
  scroll-padding-top: 64px;
}

.clipped-container {
  clip-path: polygon(0 0, 100% 0, 100% 0%, 60% 80%, 30% 30%, 0 100%);
}

.title-underline::after {
  content: " hi ";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 10px;
  width: 60px;
  border-radius: 5px;
  background-color: black;
}
