@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

#__next {
  height: 100vh;
  overflow: hidden;
}

header,
footer {
  height: 4rem;
}

main {
  height: calc(100vh - 4rem);
  overflow: auto;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.clip-container {
  height: calc(100vh - 4rem);
  scroll-snap-align: start;
}

footer {
  scroll-snap-align: start;
}

/*  */
#intro .clip-container {
  @apply bg-stone-900 text-white;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 74% 91%, 35% 81%, 0 93%);
}

#about {
  @apply bg-stone-100 text-black;
}
#about .clip-container {
  @apply bg-white;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 74% 91%, 35% 81%, 0 93%);
}

#projects .clip-container {
  @apply bg-stone-100 text-black;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 74% 91%, 35% 81%, 0 93%);
}

#resume {
  @apply bg-stone-100 text-black;
}
#resume .clip-container {
  @apply bg-white;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 74% 91%, 35% 81%, 0 93%);
}

#contact {
  @apply bg-stone-900;
}
#contact .clip-container {
  @apply bg-stone-100 text-black;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 74% 80%, 35% 95%, 0 100%);
}

/*  */
li {
  position: relative;
}
li::after {
  content: " ";
  height: 4px;
  width: 50%;
  bottom: -8px;
  background-color: white;
  display: inline-flex;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
li.active::after {
  opacity: 1;
}
